// second form block
.primary-form-block, 
.second-form-block {
  padding: 15px 0;

  .page-title {
    margin-bottom: 25px;
  }  

  .table > tfoot > tr > td {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.second-form-block {
  padding: 30px 0;
}

.btn {
  &.btn-secondary {
    background-color: $btn-second;
    color: #fff;
    padding: 10px 12px;
    font-weight: 400;

    &:hover {
      background-color: $light-bg;
      color: #404041;      
    }
  }
  &.btn-round {
    border-radius: 3px;
    padding: 14px 23px;
  }
}

/* Questionnaire block */
.questionnaire {
  border: 1px solid $btn-second;
  padding: 30px;

  .control-label {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 32px;
  }

  textarea.form-control {
    background-color: #f2f0f1 !important;
    min-height: 75px;
  }

  input[type="file"] {
    display: inline;
    font-size: 18px;
    margin-left: 5px;
  }

  .form-group {
    &.file-input {
      .control-label {
        padding-left: 15px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .question-title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .buttons {
    .btn {
      border-radius: 3px;
      padding: 14px 23px;
      min-width: 90px;
    }

    .btn + .btn {
      margin-left: 15px;  
    }
  }
}

.no-margin-b {
  margin-bottom: 0;
}