.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
  border-color: #8d8485;
}

.table.table-bordered {
  border-color: #8d8485;

  &.table-extra {
    margin-left: -30px;
    margin-right: -30px;
    max-width: calc(100% + 60px);
    width: calc(100% + 60px);
  }

  &.table-latest {
    > thead > tr > th {
      background-color: #e9e9e9;
    }

    > tbody > tr > td:first-child {
      background-color: #e9e9e9;
    }
  }
}

.table > thead > tr > th {
  font-weight: 500;
}

.table > tfoot > tr > td {
  font-weight: 700;
}