.pwc-forms {
  padding-top: 40px;
  padding-bottom: 40px;  
  line-height: 1rem;  

  .btn-primary {
    background-color: $btn-color;
    color: black;
    border: 0 none;
  }

  .form-group {
    margin-bottom: 25px;

    label {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .form-control {
      border-radius: 0;
      background-color: $light-bg;
      border: 0 none;
    }
  }

  .form-part {    
    text-transform: uppercase;
    line-height: 1em;
    margin-top: 40px;
    margin-bottom: 20px;

    &:first-child {
      margin-top: 0;
    }

    &.dark-grey,
    .dark-grey {
      color: #5d5d5d;
    }
  }

  .form-annexure {
    color: #5d5d5d;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 2em;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .text-dummy {
    margin-bottom: 25px;
  }

  &.login-form {
    max-width: 550px;
    margin: 0 auto;

    .form-group {
      .form-control {
        background-color: #fff;
      }
    }
  }

  &.form-horizontal {
    .control-label {
      text-align: left;
    }
  }
}

.custom-select {
  position: relative;
  display: block;
  max-width: 124px;
  min-width: 100px;
  margin: 0 auto;  
  margin-right: 0;
  background-color: #8d8485;
  border-radius: 3px;
  z-index: 10;
  
  select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align-last:center;

    option {
      background-color: #8d8485;
    }
  }

  &:after {
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    width: 42px;
    height: 100%;
    line-height: 40px;
    content: '\e114';
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-left: 1px solid #5d5d5d;
    z-index: -1;
  }
}